/*头部*/
#header{width: 1349px; height: 53px; background-color: #000; border-bottom: 1px solid #191919; z-index: 100px; line-height: 53px; margin-bottom: 1px;position: fixed; z-index: 22;}
#headerLeft{width: 300px; height: 53px; float: left; }
#headerLL a{ display: inline-block; color: #6E6E6E; padding-left: 15px; padding-right: 15px;}
.close i{margin: 17px 17px 0 0;float: left;  background-image: url("images/button-17795f92ca8e8b7cb702e5bb9bf081d0.gif"); display: block; width: 16px; height: 16px; background-position: 0 -16px;}
#headerLL span{ display: inline-block; line-height: 13px;}
#headerRight{ width: 270px; height: 52px; float: right; background-image: url("images/themeforest-purchasethis-71f56a79736ebb0f4a4d6b7dacb7cf80.png");}
/*心形菜单*/
#menumain{position: fixed;  width: 260px; height: 100%; z-index: 20; top: 0px; right: 0px; margin-right: -200px;}
#heart{width: 40px; height: 40px; background-color: rgba(222, 103, 95, 0.25); z-index: 20; position: absolute; top: 80px;left: 0; line-height: 40px; cursor: pointer; font-size: 24px; color: #fff; text-align: center; }
#heart:hover{ background-color: #ccc;}
#menu{ position: absolute;top: 53; right: 0px; background-color: #de675f;width: 200px; height: 100%; z-index: 20;}
#logo{display: block; width: 200px; height: 40px; margin: 20px 0 10px 0;  margin-top: 38px; font-weight: 800;}
#menu #logo a{font-size:16px;}
#menu a{ margin-left: 20px;  color: #fff; width: 200px; display: block; margin-top: 20px; font-size: 12px; font-weight: 700; letter-spacing: 2px;}





/*flasn动画*/
#flash{ width: 1349px; height: 700px; display: block; position: fixed;  }
#flash li{ display:block; height: 700px;}
.img{width: 1349px; height: 917.32px; left: 0px; top: -100px;  position: absolute; }
.opacity{ opacity:0;}
#wangge{ width: 1349px; height: 700px; position: absolute; top: 23px; left: 1px;  background-image: url("images/dots.png");}


#contentmain{ position: absolute; top:20px; width: 1349px;}
#words{margin: 150px 0 0 150px;}
#words h1{ color: #fff; font-size: 140px; font-weight: 700px; font-family: "Raleway";}
#words h1 span{font-family: 'Niconne', cursive;}
#words h2{ display: block; color: #fff; font-size: 50px; font-weight: 100;font-family: 'Niconne', cursive; margin:10px 0 0 250px;}
#content{ margin-top: 200px; width: 1349px; height:auto;background-color: #fff; }

/*计时器*/
#time{ width: 1140px; height: 254px; padding:  15px; margin: 0 auto; }
.timecss{ width: 1170px; height: 125px; }
.timecss h2{ color: #dd675b; margin-bottom: 15px; text-align: center;font-size: 30px; font-family: 'Pacifico', cursive; font-weight: normal;}
#timeTop{ padding-top: 35px;}
#timeTop span{background-image: url("images/main-nav-divider.png"); display: block;height: 10px; width: 140px; margin-left: 520px;}
.timeBottom{  width: 780px; height: 125px; margin: 0 auto;}
.timeBottom li{ width: 114px; display: block; float: left; padding-right: 40px;}
.num{ display: inline-block; width: 55px; font-size: 80px; font-weight: bold; text-align: center;font-family: Roboto Slab;color: #6f6f6f; }
.timeBottom li span{ display: block; width: 105px; text-align: right; letter-spacing: 2px; color: #6f6f6f; text-transform: uppercase;font-size: 13px; font-weight: bold;}

/*粉红色*/
#photo{ width: 1349px; height: 345px; background-color:#F2F2F2; margin: 40px 0 15px 0;}
#hp{ width: 1000px; height: 220px; margin: 0 auto;}
.photoContent{ width: 260px; height: 220px; margin: 40px 20px  0;padding-top: 40px; float: left;}
.Middle{ margin-right: 40px; margin-top: -10px;}
.photoContent li{ width: 220px; margin:0  20px; height: 220px; border-radius: 150px;  box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px rgba(0, 0, 0, 0.1); }
#potoLiS{ width: 250px; height: 250px;}
.pink{ opacity: 0; width: 220px; margin:-220px  20px 0 20px; height: 220px; border-radius: 150px; background-color: rgba(222, 103, 95, 0.8); }
#pinkS{ width: 250px; height: 250px; margin-top: -250px;}
.photoContent h3{opacity: 0;  width: 180px; height: 50px; display: block; color: #FFF;text-transform: uppercase;letter-spacing: 2px;font-size: 22px;margin: -240px 20px 0 40px;padding: 90px 0px 0px;text-align: center; font-family: "Open Sans",Arial,sans-serif; border-bottom: 1px solid #fff; }
#word1S{ border: 0px; margin-left: 60px;}
.photoContent p{opacity: 0;  text-align: center; font-size: 12px; color: #fff; display: block;padding-top: 10px;}
.Left{ background-image: url("../images/groom.jpg");}
.Mid{ background-image: url("../images/couple.jpg");}
.Right{ background-image: url("../images/bride.jpg");}




#story{ width: 1140px; height: 1280px; padding: 0 15px; margin: 0 auto;}
.storyMain{ width: 780px; height: 300px; margin: 0 auto;}
.MainLeft{width:100px; height: 100px;float: left; padding: 0 15px;  }
.date{ width: 100px; height: 100px; border-radius: 50px; background-color:#FF675F;}
.date span{ display: block; width: 100px; height: 20px; padding: 40px 0 ; font-size: 17px; color: #fff; text-align: center;}
.MainRight{ width: 619px; height: 253px;padding: 0 15px; border-left: 1px solid #ccc;float: left;}
.arrow{ width: 15px; height: 50px; float: left;background-image: url("images/arrow-left.png");background-repeat: no-repeat; margin-top: 25px;}
.text{ width: 510px; height: 221px; padding: 22px 47px 6px; margin-left: 15px; background-color: #f3f3f3;}
.text h3{ font-weight: 700px; color: #7b7b7b; letter-spacing: 1px;font-size: 24px; margin: 20px 0 10px 0;}
.text p{ line-height: 28px; margin-bottom: 25px; font-weight: 300; font-size: 16px;}
.text span{ float: left; font-size: 65px; margin-right: 6px; margin-top: 20px;}



#photoflash{width: 1349px; height: 580px; background-color: #E0E0E0; margin-top: 100px;}



#event{ width: 1140px; height: 774px; padding: 0 15px; margin: 0 auto; }
#momentContent{width: 1170px; height: 640px; margin: -75px auto; }
#momentContent ul{ width: 555px; height: 649px; padding: 0 15px;}
#momentContent h2{ display: block; font-size: 26px; font-weight: bold;text-align: center;color: #6f6f6f;}
#momentContent li{ margin: 10px 0 0 0;}
#momentContent a{ display: block;  margin: 0 0 10px;}
#firstline{margin-bottom: 10px;}
#firstline span{margin-right: 18px; font-size: 16px;}
#firstline p{ line-height: 28px; font-size: 16px; margin-top: 20px;}
#firstline em{ display: block; font-size: 60px; margin-top: 20px;  margin-right: 6px; font-style: normal; float: left; }
#firstline a{display: block;margin: 0 0 10px; color: #f85c37; text-align: center;font-size: 16px; margin-top: 20px; }
#firstline a:hover{ color: #7b7b7b;}




#eventLeft{float: left; }
#eventRight{ float: right;}