*{margin: 0; padding: 0;}
body{ width: 99%;  text-align: center; font-size: 12px; font-family: 宋体,Arial; }
ul,li{list-style: none; text-align: center;}
img{border: 0;}
a{ text-decoration: none; text-align: center;}