#mainbody{ width: 1349px; height: 831px;}
#header{ width: 1349px; height: 3px; border-bottom:1px solid #e6f1f9; background-image: url("images/top_line_bg.png");}
#logo{ width: 900px; height: 164px; padding: 10px 0; margin: 0 auto;background-image: url("images/bg_reg_wave.png");}
#weibo{ width: 200px; height: 72px; margin: 26px auto 0 auto; background-image: url("images/logo_big.png");}
.mainlogin{ width: 900px; height: 643px;margin: 0 auto 35px auto;}
.login{ width: 900px; height:553px;  background-color: #fff;border-radius: 6px; margin-bottom: 15px;  box-shadow: 0px 2px 3px #98b4c4;}
.title{ width: 860px; height: 36px; padding: 24px 0 22px 40px;}
.title a{ display: inline-block;font-size: 22px; color: #333;line-height: 33px;font-family: "Microsoft Yahei";}
.title span{ margin: 0 19px; color: #999;}
.Content{ width: 900px; height: 471px; background:url("images/reg_vline.png") no-repeat scroll 630px 0;}
.Left{ width: 600px; height: 471px;margin-left: 20px;float: left; }
.content1{ display: block; padding: 0 0 10px 20px; line-height: 20px; margin-bottom: 20px; }
.content1 li{ display: inline-block; }
.content1S{color:#E44443;}
.content1S a{ color: #0a8cd2;}
.content1S a:hover{ text-decoration: underline;}
.show{ display: block; width: 600px; height: 250px;}
.InfoList{display:inline-block; margin-bottom: 15px; }
.tit{float: left; width: 160px; float: left;line-height: 30px; text-align: right; font-size: 14px;}
.tit span{ display: inline-block;width: 20px; height: 23px; background-image: url("images/reg_method_s.png");vertical-align: middle;margin-right: 9px;}
.tit i{font-size: 12px; color: #f00; font-family: "SimSun"; padding-right: 4px; font-style: normal;}
.input{margin-left: 5px; float: left; display: block; width: 420px;}
.InfoList input{  float: left; display: block; width: 200px; font-size: 14px; border: 1px solid #ccc; border-radius: 2px; height: 31px; padding: 0 0 0 2px; vertical-align: middle;color: #808080;box-shadow: 0px 1px 1px 0px #eaeaea inset;}
..InfoList select{ float: left; display: block; width: 61px; height: 17px; border: 1px solid #ccc;margin: 2px 2px 2px 2px ;}
.input p{ float: left; display: block; padding: 0 0 0 20px; color: #e64141;max-width: 200px; height: auto;}
.input span{vertical-align: middle; display:inline-block; ; width: 16px; height: 35px;line-height: 22px; background-image: url("images/ico_warn.png"); margin-right: 3px;float: left;}
.input .error span{ background-position: 0 -50px; }
.input .error{ display: none;}
.input .notice { display: none; }
.input .notice span{ background-position: 0 -200px; color: #ccc;}
.input select{width: 70px; }
.inputbox{ outline: none;}
#inputbox6{ width: 160px;}

.mobile span{ background-position: 0 -23px;}
.input .jihuoma{ width: 62px; height: 30px; }
.y_scroll{ overflow-y:scroll;  overflow-x: hidden; height: 225px;}
.y_scroll li{ display: block; width: 100px; height: 21px; padding: 15px 10px 8px 10px;  }
.y_scroll em{ opacity: 0; background-image: url("images/icon.png"); background-position: -124px -48px; width: 12px; height: 12px; display: inline-block; margin-right: 5px;}

.y_scroll .y_scrollS{ opacity: 1; }






.submitS{ margin: 0 5px 0 0; float: left; background-color: #F2F2F2;width: 145px; height: 28px;   border: 1px solid #D9D9D9; border-radius: 2px; }
.InfoList .input .submitS em{display: inline-block;height: 28px; font-style: normal;padding: 5px; display:block;color: #fff;font-size: 0.5px; color: #333;}
.InfoList .submitS  a{width: 143px; height: 26px; display: block;border: 1px solid #Fff; }
.InfoList .guojia a{width: 27px; height: 13px; padding: 8px 4px; border: 1px solid #ccc; border-right: 0px; background-image: url("images/reg_flag.png"); background-position:4px 8px; background-repeat: no-repeat;}
#menula{display: none; width: 120px; height: 225px; padding: 1px; border: 1px solid #ccc; position: absolute;top: 366px;left: 410px; z-index: 99; background-color: #fff; }


.hide{display: none;width: 600px; height: 150px;}

#Images{ background-image: url("images/pincode (1).jpg"); display: block; width: 108px; height:40px;}



.attachment{position: relative; margin-top: 40px; display: block;}
.attachment a{position: absolute; left: 70px; top: 0px; color: #0a8cd2; display:inline-block; }
.attachment a:hover{ text-decoration: underline;}
#yanzheng{ width: 74px; height: 30px;}
.InfoList a{float: left; display: block;width: 120px; height: 15px;}
.btn{float: left; display: block; line-height: 30px; margin-left: 20px; cursor: pointer;}



.submitA{ width: 202px; height: 42px; margin:30px auto 10px 160px;  }
.submit{ display: inline-block; background-color: #FFA00A;border: 1px solid #ff9b01; border-radius: 2px; }
.submit span{ display:block;font-weight: bold;text-align: center;color: #fff; padding: 10px 0 8px 0;font-size: 10px;}
.submitaa{width: 200px; height: 40px;  }
.submitaa span{font-style: normal;font-weight: normal;font-size: 16px;}
.submit a{display: block;border: 1px solid #ffb33b;}
.content2{ width: 440px; height: 53px; margin-left: 160px; }
.content2 a{display: block; color: #0a8cd2; margin-bottom: 5px;}




.Right{ width: 210px; height: 282px; margin: 30px 30px 0 0; float: right;} 
.Right p{ display: block; font-size: 14px; line-height: 22px;}
.line{ margin: 0 0 14px; padding: 0 0 6px; border-bottom: 1px dotted #ccc;}
.line a{ color: #0a8cd2;}
.help{ width: 210px;height: 207px; margin-top: 10px;}
.helpUl{ width: 210px; height: 169px; }
.helpUl li{ display: inline-block;line-height: 22px; margin: 5px 0 0 0;}
.helpUl i{display: inline-block; width: 15px; height: 18px; margin: 4px 10px 0 0; line-height: 15px; color: #fff;background-image: url("images/bg_listNum.png");background-position: 0 0; display: block; float: left;text-align: center;}
.helpUl a{ display: block;width: 175px; float: left;color: #0a8cd2;font-size: 12px; line-height: 22px; }
.helpmore{ display: block; margin: 16px 0 0 25px; line-height: 22px;color: #0a8cd2;font-size: 12px; }
.Right a:hover{ text-decoration: underline;}
#footer{ width: 900px; height: 21px;}
#footerLeft{ width: 470px; height: 21px; float: left;}
#footerLeft i{float: left; display: inline-block; width: 26px; height: 21px; background-image: url("images/reg_ico.png"); background-position: 0 2px; background-repeat: no-repeat;}
#footerLeft em{ margin-right: 10px; color: #6e9ab8; font-style: normal; display: block; line-height: 21px; float: left;}
#footerLeft a{ display: inline-block; color: #6e9ab8;line-height: 21px;}
#footerRight{ width: 169px; height: 13px; float: right; }
#footerRight span{ display: inline-block; color: #6e9ab8;}