*{margin: 0; padding: 0;}
body{ width: 100%;  text-align: center;  background-color:#f0f2f3;font-family: "Lato", Helvetica, Arial, sans-serif;color:#606577;font-weight: 400; line-height: 1.846; }
ul,li{list-style: none; text-align: left;}
img{border: 0;}
a{ text-decoration: none; text-align: left;}
h2{ display:inline-block;float: left;font-size: 18px; font-weight: 900; margin-bottom: 15px; color: #111; text-align: left; padding: 15px 0; border-bottom: 1px solid #eee;  }